<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <p text-center>{{authProvider.userDetails ? 'Welcome ' + authProvider.userDetails.email : ''}}</p>
        <ion-list>
            <button *ngIf="!(authProvider.user | async)" menuClose ion-item icon-start (click)="goToLoginPage()">
                <ion-icon name="md-log-in" item-start></ion-icon>
                Login
            </button>
            <button *ngIf="!(authProvider.user | async)" menuClose ion-item icon-start (click)="goToRegisterPage()">
                <ion-icon name="person" item-start></ion-icon>
                Register
            </button>
            <button *ngIf="authProvider.user | async" menuClose ion-item icon-start (click)="goToTtemsPage()">
                <ion-icon name="person" item-start></ion-icon>
                Items List 
            </button>
            <button *ngIf="authProvider.user | async" menuClose ion-item icon-start (click)="goToCustomersPage()">
                <ion-icon name="contacts" item-start></ion-icon>
                Customers List
            </button>
            <button *ngIf="authProvider.user | async" menuClose ion-item icon-start (click)="onLogout()">
                <ion-icon name="md-log-out" item-start></ion-icon>
                Logout
            </button>


        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<!--<ion-nav [root]="rootPage" #content swipeBackEnabled="false"  #content></ion-nav>-->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>