<!--
  Generated template for the DailyListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
        <ion-title>{{coustomer.Name}}</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="content-bg" padding>


    <ion-grid fixed>




        <ion-list *ngFor="let month of  filteredData; let i = index" (click)="toggleGroup(i)" [ngClass]="{active: isGroupShown(i)}">

            <ion-item-divider>

                {{month}}
                <ion-icon color="success" item-right [name]="isGroupShown(i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </ion-item-divider>
            <div *ngIf="isGroupShown(i)">
                <div *ngFor="let daily of daywise ">
                    <ion-item *ngIf="month==daily.todayDate;">


                        <h2>{{ daily.itemName }} </h2>
                        <h3>{{ daily.itemVariant }}</h3>
                        <p>{{ daily.itemPrice }} x {{ daily.itemQuantity }} = {{ daily.itemSubTotal }} </p>
                        <button ion-button clear item-end><ion-icon name="trash"></ion-icon>
                                            </button>


                    </ion-item>
                </div>
            </div>
        </ion-list>

        <!--  <ion-list >

           
            <div *ngFor="let daily of daywise">
                <ion-item>


                    <h2>{{ daily.itemName }} </h2>
                    <h3>{{ daily.itemVariant }}</h3>
                    <p>{{ daily.itemPrice }} x {{ daily.itemQuantity }} = {{ daily.itemSubTotal }} </p>
                    <button ion-button clear item-end><ion-icon name="trash"></ion-icon>
                                            </button>


                </ion-item>
            </div>
        </ion-list> -->




    </ion-grid>



</ion-content>